<phpunit colors="true" verbose="true" bootstrap="../init.php">
    <testsuite name="Mano Wars - Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
      <blacklist>
        <directory suffix=".php">../libs/Zend</directory>
        <directory suffix=".php">../tests</directory>
      </blacklist>
      <whitelist>
        <directory suffix=".php">../libs/MW</directory>
      </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./_reports/coverage" charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-xml" target="./_reports/xunit-coverage.xml" />
        <log type="testdox-html" target="./_reports/xunit-results.testdox.html" />
        <log type="tap" target="./_reports/xunit-results.tap" />
        <log type="junit" target="./_reports/xunit-results.junit.xml" />
    </logging>
</phpunit>